<form id="content">
    <h3>Registeration QR Signup Form</h3>
<label>First Name &nbsp;</label> 
<input type="text" placeholder="FirstName"><br><br>
<label>Last Name&nbsp;</label> 
<input type="text" placeholder="LastName" ><br><br>
<label>Email&nbsp;</label>
 <input type="text" placeholder="Email"><br><br>
<label>Password &nbsp;</label>
<input type="password" placeholder="Password" ><br><br>
<label>Mobile&nbsp;</label>
<input type="tel" placeholder="Mobile" ><br><br>
<label>Address&nbsp;</label>
<textarea  rows="2" cols="20" placeholder="Address"></textarea><br><br>
Gender 
 <input type="radio" id="male" >
<label for="male">Male</label>&nbsp;
<input type="radio" id="female" >
<label for="female">female</label><br><br>
<input type="checkbox">Subscribe to Alert<br><br>
<input type="submit" value="SUBMIT"> &nbsp; 
<input type="button" value="CANCLE">
</form>
